
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: black;
  text-align: center;
  color: white;
  overflow-x: hidden;
}

body.a{
  background-color: white;
}
body.i{
  background-color: black;
}
body.u{
  background-color: white;
}

.content {
  display: none;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#loading {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-right: 5px solid transparent;
  border-radius: 30px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}

header{
  font-size: 0;
  padding: 0;
  margin: 0;
}

.sticky {
  display:table;
  width:100%;
  text-align:center;
  background-color: black;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.top-bar{
  display:table-cell;
  vertical-align:middle;
}

.top-bar h1{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.top-img{
  width: 100%;
  height: 100vh;
  background-image: url(https://shintaromatsudo.github.io/DSC041582.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.top-img h1{
  font-size: 8vw;
  line-height: 88vh;
  vertical-align: middle;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

main{
  color: white;
  margin: 0;
  padding: 0;
}

.sticky2 {
  background-color: black;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.main-list{
  margin: 0;
}

.sticky2 ul {
	list-style-type: none;
  display: flex;
	justify-content: center;
  padding: 0 0 0 50px;
}

.sticky2 li{
  font-size: 12px;
  margin: 30px 0;
  padding: 0 3%;
}

.main-img{
  height: 180px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container h1{
  font-size: 40px;
  margin: 20px;
}

.about{
  height: 100vh;
  margin: 50px;
  padding: 50px;
  color: black;
}

.works{
  margin: 0;
  padding: 0;
}

.contact{
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
}

.about p{
  font-size: 3.5vmin;
  text-align: left;
  margin: 20px;
  padding: 20px;
  padding-left: 100px;
}

.contact p{
  font-size: 3.5vmin;
  margin: 10px;
  padding: 10px;
}

.worksList{
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%
  text-align: center;
  opacity: 0;
}

.worksList img{
  padding: 30px;
  margin: 0;
  width: 80%;
}


@media only screen and (min-width: 981px), print {
	.worksList img{
		width: 28%;
	}
}

.mv{
  margin: 0;
	opacity: 1.0;
}

*, *:before, *:after {
  transition:.5s linear;
}

section {
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
span {
  display: block;
  position: relative;
  padding: 5px;
  margin: 0 5px;
  color: white;
}
a:before, a:after, span:before, span:after, section:before, section:after {
  content: "";
  position: absolute;
  background: white;
}
section:before {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 0;
}
section:after {
  top: 0;
  right: 0;
  width: 1px;
  height: 0;
}
a:before {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
}
a:after {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
}

span:before {
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
}
span:after {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
}
section:hover:before, section:hover:after, span:hover:before, span:hover:after {
  height: 100%;
}

a:hover:before, a:hover:after {
  width: 100%;
}

span:hover{
  background-color: white;
  color: black;
}


section.is-show:before {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
}
section.is-show:after {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
}
a.is-show:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
a.is-show:after {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
}
span.is-show:before {
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}
span.is-show:after {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 100%;
}

span.is-show{
  background-color: white;
  color: black;
}

.back-to-top{
  width: 95px;
  margin: auto;
  padding: auto;
}

.back-to-top section{
  width: 65px;
  margin-top: 60px;
  margin-left: 50px;
}

.back-to-top span {
  display: white;
  position: relative;
  padding: 5px;
  margin: 0 5px;
  color: black;
}
.back-to-top a:before, .back-to-top a:after, .back-to-top span:before, .back-to-top span:after, .back-to-top section:before, .back-to-top section:after {
  content: "";
  position: absolute;
  background: black;
}
.back-to-top span:hover{
  background-color: black;
  color: white;
}
